#app-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "input view"
        "side main";
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 1fr 2.5fr;
}

#input-container {
    grid-area: input;
}

#view-container {
    grid-area: view;
}

#mainpanel-container {
    grid-area: main;
}

#sidepanel-container {
    grid-area: side;
    overflow: auto;
}
