#input-replicate-modal {
    display: grid;
    grid-template-areas:
        "head head head"
        "left mid right"
        "foot foot foot";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr auto 1fr;
    gap: 2rem;
}

#input-replicate-modal-head {
    grid-area: head;
}

#input-replicate-modal-foot {
    grid-area: foot;
    margin-top: 1rem;
    text-align: center;
}

#input-replicate-modal-left,
#input-replicate-modal-right {
    display: flex;
    flex-direction: column;
}

#input-replicate-modal-left > select,
#input-replicate-modal-right > select {
    flex-grow: 1;
}
